<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let admin">
            <mat-checkbox [(ngModel)]="checkboxes[admin._id]" (ngModelChange)="onSelectedChange(admin._id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let admin">
            <img class="avatar" [alt]="admin.name"
                 [src]="profile"/>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let admin">
            <p class="text-truncate font-weight-600">{{admin.name}}</p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Email</mat-header-cell>
        <mat-cell *matCellDef="let admin" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{admin.email}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="dob">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Date of Birth</mat-header-cell>
        <mat-cell *matCellDef="let admin" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{admin.dob | date}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Job Title Column -->
    <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Age</mat-header-cell>
        <mat-cell *matCellDef="let admin" fxHide fxShow.gt-lg>
            <p class="job-title text-truncate">
                {{admin.age}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- CreatedAt -->
    <!-- <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Created</mat-header-cell>
        <mat-cell *matCellDef="let admin" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{admin.createdAt | date : "medium" }}
            </p>
        </mat-cell>
    </ng-container> -->

    <!-- UpdatedAt -->
    <ng-container matColumnDef="updatedAt">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Updated</mat-header-cell>
        <mat-cell *matCellDef="let admin" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{admin.updatedAt | date :"short" }}
            </p>
        </mat-cell>
    </ng-container>


    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let admin">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!-- <button mat-icon-button (click)="$event.stopPropagation();toggleStar(admin._id)" aria-label="Toggle star">
                    <mat-icon class="amber-fg" *ngIf="user.starred.includes(admin._id)">star</mat-icon>
                    <mat-icon class="secondary-text" *ngIf="!user.starred.includes(admin._id)">star_border</mat-icon>
                </button> -->

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteadmin(admin)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let admin; columns: displayedColumns;"
             class="admin"
             (click)="editContact(admin)"
             [ngClass]="{'accent-50':checkboxes[admin._id]}"
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


